
#MainIndex{
    background-color: rgb(243, 243, 243);
    padding-top: 75px;

}

button:hover{
    background-color: #009295 ;
}
#OrdenarHorizontal{
    flex: 1;
    display: flex;
}

Body{
    margin: 0px;
    width: 100%;
    
}



/*HEADER*/
header {
    width: 100%;
    display: flex;
    margin: 0px;
    align-items: center;
    border-top: 6px solid purple;
    background-color: white;
    font-style: oblique;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2); /* Agregar sombra */

}

header h1 {
    color: rgb(243, 160, 252);
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    width: 100px; /* Ancho */
    height: 50px;
}

header h1 img{
    width: auto;
    height: 40px;
}

header button{
    margin-right: 40px;
    height: 40px;
    width: 90px;
    background-color: #44DBBD;
    border: 0px;
    color: white;
}

.menu {
    padding-top: 10px;
    background-color: white;
    text-align: center;
    width: 100%;
    flex: 1;
    font-size: x-large;

}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px; /* Espacio entre elementos del menú */
    align-items: center;
}

.menu a {
    color: grey;
    text-decoration: none;
    padding: 10px 20px;
}




/* Estilos para el menú desplegable */
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    color: grey;
    z-index: 1;
    font-size: x-large;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 0;
}

.submenu a {
    padding: 10px 20px;
}

#BusquedaDIV{
    display: flex;
    margin: 20px;
    border-radius: 30px; /* Redondear la barra de búsqueda */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Agregar sombra */

}

#AlineadoBarra{
    display: flex;
    align-items: center; /* Alinear verticalmente */
    border: 1px solid transparent; /* Añadir borde para referencia */
    border-radius: 30px; /* Redondear la barra de búsqueda */
    
}

#BarraBusqueda {
    padding: 10px;
    border: 0.5px solid Gray;
    border-right: 0px;
    border-radius: 30px 0 0 30px; /* Redondear solo la esquina izquierda */
    width: 300px;
}

#ButtonBusqueda {
    background-color: #44DBBD; /* Color turquesa */
    border: none;
    border-radius: 0 30px 30px 0; /* Redondear solo la esquina derecha */
    padding: 8px 15px;
    height: 37.5px;
    cursor: pointer;  
    border: 0.5px solid Gray;
    border-left: 0px;    
}

#ButtonBusqueda img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
#ButtonBusqueda:hover{
    background-color: #009295;
}
#CarritoIcono {
    width: 29px;
    height: 29px;    
}

#CarritoAcomodo{
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
}

#AcomodarHorizontales{
    display: flex;
}




/*EFECTOS HEADER MENU*/
nav a:hover{
    color: #44DBBD;
}

/*EFECTOS HEADER MENU FIN*/



/* Estilos para el menú de hamburguesa */
.hamburguesa-btn {
    display: none; /* Ocultar por defecto en pantallas grandes */
}


/*HEADER FIN*/






/*SECCION UNO*/
/*Tipo de letra para la seccion 1*/
/*@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLight.ttf') format('truetype');
}  SE MOVIO AL INDEX PARA QUE SE PUSIERA CORRECTAMENTE */

#IndexSeccionUno{
    height: auto;
}

#QuienesSomosSection{
    padding-left: 850px;
    padding-top: 170px;
    padding-bottom: 300px;
}

#QuienesSomosSection h1{
    font-size: 35px;
    letter-spacing: 2px;
    color: rgb(67, 67, 67);
}

#QuienesSomosSection p{    
    font-size:15px;
    color: rgb(85, 85, 85);
}

#custom-list {
    list-style: none; /* Eliminar las viñetas predeterminadas */
}

#custom-list li::before {
    content: ">"; /* Utilizar un > como viñeta */
    color: #44DBBD; /* Color de la viñeta */
    display: inline-block;
    font-weight: 1000;
    width: 1em; /* Ajustar el ancho para alinear correctamente */
    margin-right: 0.5em; /* Espacio entre la viñeta y el texto */
}

#custom-list li {
    padding-top: 30px;
    font-family: 'Avenir';
    color: rgb(85, 85, 85); /* Color del texto */
}

#aparecerViñeta {
    opacity: 0; /* Inicialmente, el elemento está oculto */
    animation: aparecer 4s ease forwards; /* Definir la animación */
}

#aparecerViñeta2 {
    opacity: 0; /* Inicialmente, el elemento está oculto */
    animation: aparecer 6s ease forwards; /* Definir la animación */
}

#aparecerViñeta3 {
    opacity: 0; /* Inicialmente, el elemento está oculto */
    animation: aparecer 8s ease forwards; /* Definir la animación */
}

@keyframes aparecer {
    from {
        opacity: 0; /* Estado inicial: completamente transparente */
    }
    to {
        opacity: 1; /* Estado final: completamente visible */
    }
}
/*SECCION UNO Fin*/




/*SECCION DOS*/

#IndexSeccionDos{
    background-color: white;
    height: auto;
    
}

#IndexSeccionDosAcomodo{
    display: flex;
    justify-content: space-between;
}

#IndexSeccionDosAcomodo Div{
    flex: 1;
    max-width: 50%;
}

    
#IndexSeccionDosAcomodo Div:nth-child(2){
    padding-left: 0px;
    padding-top: 0px;
}

#TuHogarMasInteligenteSection {
    padding-top: 100px;
    margin-left: 300px;
    padding-bottom: 100px;
}

#TuHogarMasInteligenteSection h1{
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(67, 67, 67);
}

#TuHogarMasInteligenteSection p{
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(67, 67, 67);
}

#TuHogarMasInteligenteSection p:nth-child(3){
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(67, 67, 67);
    text-decoration: underline 1px rgb(67, 67, 67) ;
}

#TuHogarMasInteligenteSection button{
    margin-right: 40px;
    height: 40px;
    width: 90px;
    background-color: #44DBBD;
    border: 0px;
    color: white;
}

#TuHogarMasInteligenteSection button:hover{
    background-color: #009295;
}

/*SECCION DOS Fin*/




/*SECCION TRES*/
#IndexSeccionTres{
    background-color: white;
    height: auto;
}

#IndexSeccionTresAcomodo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}


.IconoInformacionTexto{
    font-family: Helvetica;
    color: rgb(67, 67, 67);
    text-align: center;
    margin-right: 90px;
    width: 240px;
}



.IconoInformacionTexto:last-child{
    margin-right: 0px;
}

.IconoInformacionTexto img{
    height: 90px;
    width: 90px;
}
/*SECCION TRES Fin*/



/*SECCION CUATRO*/
#IndexSeccionCuatro{
    height: auto;
    text-align: center;
    background-color: white;
}

#IndexSeccionCuatro h1{
    padding-top: 250px;
    font-size: 70px;
    font-family: 'Avenir';
    color: rgb(136, 136, 136);
}

#IndexSeccionCuatro p{
    padding-top: 10px;
    padding-bottom: 250px;
    font-family: 'Avenir';
    color: rgb(136, 136, 136);
    font-style: italic;
}


/*SECCION CUATRO Fin*/


/*SECCION PRODUCTOS*/

#IndexSeccionProductos{
    background-color: rgb(243, 243, 243);
}

#TarjetaProducto{    
    width: 400px;
    height: 600px;
    border: 2px solid rgb(165, 165, 165);
    background-color: white;        
}

#TarjetaProducto h1{
    text-align: left;
}

#TarjetaProducto p{
    text-align: end;
}


#TarjetaProducto img{
    width: 100%;
    height: 70%;
}
/*SECCION PRODUCTOS Fin*/

/*SECCION CINCO*/

#IndexSeccionCinco{
    width: 100%;
    height: 700px;
    margin-top: 50px;
}

#IndexSeccionCinco h1{
    font-size: 45px;
    color: rgb(49, 48, 48);
    margin-bottom: 0px;
}

#IndexSeccionCinco button{
    background-color: #44DBBD;
    color: white;
    height: 35px;
    width: 120px;
    border: 0px;
}

#IndexSeccionCinco button:hover{
    background-color: #009295;
}


#IndexSeccionCincoTextoBtn{
    padding-top: 100px;
    padding-left: 300px;
}


/*SECCION CINCO Fin*/

/*FOOTER*/
footer{
    background-color: #F3F3F3;
    height: 700px;
    width: 100%;
    justify-content: space-between;
     
}


#FooterDivUno p{
    color: #2F2E2E;
    font-family: 'Avenir';
    text-decoration: underline 1px;
}

#FooterDivUno p:nth-child(5){
    color: #9F9F9E;
    margin-top: 20px;
    font-size: 10px;
    text-decoration: none;
    
}

.FooterDivAcomodo{
    padding-top: 150px;
    justify-content: center;
}

#FooterDivDos p{ 
    font-family: 'Avenir';
    color: #605E5E;
}

#FooterDivDos p:first-child{ 
    color: #2F2E2E;
    font-size: 20px;
}

#FooterDivDos ul{
    font-family: 'Avenir';
    color: #605E5E;
}

#FooterDivTres p{
    font-family: 'Avenir';
    color: #605E5E;
}

#FooterDivTres p:first-child{
    color: #2F2E2E;
    font-size: 20px;
}

#FooterCorreoElectronicoBarra{
    margin-top: 70px;
    margin-left: 20px;
    width: 300px;
    height: 35px;
    border: 0;
    background-color: #E0E0E0;

}

footer button{
    background-color: #44DBBD;
    border: 0;
    color: white;
    margin-left: 20px;
    margin-top: 5px;
    width: 305px;
    height: 35px;

}

/*FOOTER Fin*/


















/*


||||          ||||   ||||||||||     |||||||||||     ||||||||||||    ||||||||||||    ||||       ||||             
|||||||    |||||||  ||||    ||||    ||||    ||||        ||||            ||||        ||||||     ||||            
|||| |||||||| ||||  ||||    ||||    ||||    ||||        ||||            ||||        |||| ||    ||||            
||||   ||||   ||||  ||||    ||||    ||||||||||||        ||||            ||||        ||||  ||   ||||            
||||          ||||  ||||||||||||    ||||  ||||          ||||            ||||        ||||   ||  ||||        
||||          ||||  ||||    ||||    ||||   ||||         ||||            ||||        ||||    || ||||         
||||          ||||  ||||    ||||    ||||    ||||        ||||            ||||        ||||     ||||||          
||||          ||||  ||||    ||||    ||||     ||||       ||||        ||||||||||||    ||||      |||||             



                ||||                ||||
                ||||                ||||
                ||||                ||||
                ||||                ||||            
            ||||||||||||        ||||||||||||                
             ||||||||||          ||||||||||   
              ||||||||            ||||||||  
               ||||||              ||||||
                ||||                ||||
                 ||                  ||
*/
/*ESTILOS LOGIN-----------------------------------------------------------------------------------------------------------------------------*/
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.form{
  margin-top: 100px;
  max-width: 460px;
  width:100%;
  padding: 30px;
  border: 1px solid black;
}
.login-header {
    text-align: center; /* Alinea el texto al centro */
    margin-bottom: 20px; /* Agrega un margen inferior */
}

.login-header h1 {
    color: #333; /* Cambia el color del texto */
    font-size: 30px; /* Cambia el tamaño del texto */
}

form{
  margin-top: 30px;
}
form .field{
  height: 45px;
  width: 100%;
  margin-top: 30px;
}
.form-content span{
  margin-top: 20px;
}
.field input{
  height: 100%;
  width: 400px;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
.field input{
  padding: 0 15px;
  border: 1px solid black;
}
.field button {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 300px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: black;
}
.form-link{
  margin-top: 30px;
}
.form-link a{
  color: black;
}
.form-linkUno{
  text-align: center;
}
.form-linkUno a{
  color: black;
}
.line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
}
.line::before{
  content: 'o conéctate con';
  position: absolute;
  top: 50%;
  left: 39%;

}
.field.facebook {
  height: 35px; /* Ajusta la altura del círculo */
  width: 35px; /* Ajusta el ancho del círculo */
  color: white; /* Color del icono */
  background-color: #0171d3; /* Color de fondo del círculo */
  font-size: 26px; /* Tamaño del icono */
  border-radius: 50%; /* Ajusta el radio del borde para que sea un círculo */
  display: flex; /* Para alinear el contenido vertical y horizontalmente */
  align-items: center; /* Para alinear verticalmente */
  justify-content: center; /* Para alinear horizontalmente */
}
.media-options {
  display: flex;
  align-items: center; /* Para alinear verticalmente */
  justify-content: center; /* Para alinear los elementos horizontalmente en el centro */
  margin-top: 30px;
}

.media-options a {
 margin: 0 10px; /* Agrega un espacio horizontal de 10px entre los elementos */
  text-decoration: none;
}

img.google-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

/*ESTILOS REGISTRO----------------------------------------------------------------------------------------------------------------------------*/
.containerR {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.formR {
  max-width: 460px;
  width: 100%;
  padding: 30px;
}

form {
  margin-top: 30px;
}

form .fieldR {
  height: 45px;
  width: 100%;
  margin-top: 30px;
}

.formR-content span {
  margin-top: 20px;
}
.fieldR input {
  margin-top: 22px;
  border-radius: 0; /* Eliminar el borde redondeado del input */
  border-top: none; /* Eliminar el borde superior */
  border-left: none; /* Eliminar el borde izquierdo */
  border-right: none; /* Eliminar el borde derecho */
  border-bottom: 1px solid #ccc; /* Conservar solo el borde inferior */
  width: 100%; /* Ajustar el ancho al 100% */
  padding: 0 15px; /* Añadir relleno */
  font-size: 17px;

}

.fieldR input:focus {
  border-color: #10EDC1; /* Cambia el color del borde al enfocar */
  outline: none;
}

.fieldR button {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 300px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #BFBFBF;
}

.formR-linkUno {
  text-align: center;
  font-size: 19px;
}

.formR-linkUno a {
  color: #10EDC1;
  text-decoration: none;
}

.lineR {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.lineR::before {
  content: 'O regístrate con';
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Fondo blanco para el texto */
  color: #232836; /* Color del texto */
  padding: 0 15px;
  border-radius: 5px; /* Añadido para esquinas redondeadas */
}

.mediaR-options {
  display: flex;
  align-items: center; /* Para alinear verticalmente */
  justify-content: center; /* Para alinear los elementos horizontalmente en el centro */
  margin-top: 30px;
}

.mediaR-options a {
  margin: 0 10px; /* Agrega un espacio horizontal de 10px entre los elementos */
  text-decoration: none;
}

img.google-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.mensajeInformacionR {
  margin-top: 50px;
  color: #2F2E2E;
}
.registro-header {
    text-align: center; /* Alinea el texto al centro */
  
}

/*ESTILOS PRODUCTO----------------------------------------------------------------------------------------------------------------------------*/
#MainProducto{
    background-color: rgb(243, 243, 243);
    padding-top: 75px;
    width: 100%;
    height: auto;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    margin-top: 50px;
}

.product-content {
    display: flex;
}

.star {
    font-size: 32px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
    margin-left: 5px;
}
.star.checked, .star:hover {
    color: gold;
}
.heart {
    font-size: 32px;
    color: #44DBBD;
    cursor: pointer;
    position: absolute;
    top: 350px; /* Ajustar la posición verticalmente */
    margin-right: 450px; /* Ajustar la posición horizontalmente */
}

.heart.liked {
    color: #ff0000; /* Rojo */
}
.product-image-container {
    position: relative;
    width: 510px;
    /* Ancho del contenedor */
    height: 510px;
    /* Alto del contenedor */
    border: 2px solid black;
    margin-top: -10px;
    margin-right: 650px;
    padding: 10px;
}

.product-image {
    position: absolute;
    top: 50%;
    /* Coloca la parte superior de la imagen en el centro vertical */
    left: 50%;
    /* Coloca el lado izquierdo de la imagen en el centro horizontal */
    transform: translate(-50%, -50%);
    /* Desplaza la imagen hacia atrás en su propia mitad en ambas direcciones */
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    /* La altura se ajusta automáticamente para mantener la relación de aspecto */
    object-fit: contain;
    /* Ajusta la imagen para que se ajuste dentro del contenedor manteniendo su relación de aspecto */
}

.product-thumbnails {
    margin-left: -77%;
    /* Ajusta la distancia desde el borde izquierdo */
    /* Mantén las demás propiedades sin cambios */
    display: flex;
    flex-direction: row;
    margin-top: 550px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-right: 10px; /* Espacio entre las miniaturas */
    cursor: pointer;
    border: 2px solid black; /* Añade un borde a los contenedores de miniaturas */
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Esconder las flechas en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#cantidad{
    width: 50px;
    height: 30px;
}

#AgregarAlCarrito {
    width: 300px; /* Ancho deseado */
    height: 40px; /* Alto deseado */
    background-color: #44DBBD; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Eliminar borde */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    margin-top: 35px; /* Espacio arriba del botón */
}

.comments-box {
    padding: 10px;
    font-size: 1.2em; /* Tamaño de letra más grande */
    text-align: left; /* Texto alineado a la izquierda */
    margin-top: 80px;
    margin-left: 20px; /* Separación del margen izquierdo */
    background-color: #44DBBD;
}

.user-comment-box {
    margin-top: 20px;
    text-align: center;
}

.user-comment-box textarea {
    width: 93%;
    padding: 20px;
    margin-bottom: 10px;
    margin: center;
    resize: vertical;
}

.user-comment-box button {
    padding: 10px 20px;
    background-color: #44DBBD;
    color: white;
    border: none;
    cursor: pointer;
}
.product-description {
    position: absolute;
    top: 40px;
    /* Ajusta la posición vertical según sea necesario */
    margin-left: 750px;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Centra horizontalmente */
}
.Tuscomentarios {
    margin-top: 20px;
    text-align: center;
}
.user-comments-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.comment-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-comments-box ul {
    list-style-type: none;
    padding: 0;
}

.user-comments-box li {
 
    padding: 10px;
    margin-bottom: 10px;
}
.product-long-description {
    margin-top: 700px;
    /* Ajusta la distancia desde la parte superior */
    margin-left: -22%;
    /* Ajusta la ditancia desde el borde izquierdo */
}
.redes-sociales {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 80px;
}

.redes-sociales i {
    font-size: 24px;
}
/*ESTILOS PRODUCTO FIN */



















/*ESTILOS CATALOGO--------------------------------------------------------------------------------------------------------------------------- */
/* Estilos para los productos */
.contenedor {
    max-width: 1500px;
    padding: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
#textoFiltrar {
    font-family: "Avenir 35 Ligth", sans-serif;
    font-size: 25px;
}
#textoPrecio, #textoCategoria{
    font-family: 'Stem Hairline', sans-serif;
}

.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
}

.contenedor .contenedor-items .item {
    padding: 5px;
    /* Reduce el espacio interior alrededor del contenido del ítem */
    border-radius: 20px;
    transition: 0.3s;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px black;
    transform: scale(1.05);
}

.contenedor .contenedor-items .item .img-item {
    max-width:60%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.contenedor .contenedor-items .item .nombre-item {
    display: block;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    font-size: 1.2em;
}

/* Estilos para el botón desplegable */
.Filtros {
    text-align: right;
    margin-top: -100px;
    margin-bottom: 20px;
    margin-right: 20px;
    /* Agrega un margen a la derecha */
}
/********/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    width: 120px;
    margin-left: 25px;  
    margin-top: 20px;   
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #009295;
}

.dropdown:hover .dropdown-content {
    display: block;
}
input[type=range] {
  -webkit-appearance: none; /* Quita el estilo predeterminado del navegador */
  width: 150px; /* Ajusta el ancho de la barra de rango */
  height: 3px; /* Ajusta la altura de la barra de rango */
  background-color: black; /* Establece el color de fondo */
  border-radius: 3px; /* Añade esquinas redondeadas */
}

/* Estilos para el rango deslizable (thumb) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Quita el estilo predeterminado del navegador */
  width: 10px; /* Ajusta el ancho del deslizador */
  height: 10px; /* Ajusta la altura del deslizador */
  background-color: white; /* Establece el color del deslizador */
  border-radius: 50%; /* Hace que el deslizador sea circular */
  cursor: pointer; /* Cambia el cursor al pasar sobre el deslizador */
}

/* Estilos adicionales para Firefox */
input[type=range]::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
#textoFiltrar {
    font-family: "Avenir 35 Ligth", sans-serif;
    font-size: 25px;
}

#textoPrecio,
#textoCategoria {
    font-family: 'Stem Hairline', sans-serif;
}
#contenidoCategoria{
    font-family: 'Mazzard L Extra Ligth';
}


/*ESTILOS CATALOGO Ilumicacion */
.contenedor-iluminacion{
   max-width: 1200px;
   padding: 10px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   contain: paint;
}
.contenedor-iluminacion .contenedorI-items{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-gap: 10px;
    grid-row-gap:30px ;
    width: 100%;
    transition: .3s;
}
.contenedor-iluminacion .contenedorI-items .itemI{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    transition: .3s;
  

}
.contenedorI-items .itemI .imgI-item{
    width: 100%;
}
.contenedorI-items .itemI .tituloI-item{
    display: block;
}
.contenedorI-items .itemI .precioI-item{
    display: block;
    margin-top: 10px;
}
.contenedorI-items .itemI .botonI-item{
    display: block;
    margin: 20px auto;
    border: none;
    background: #44DBBD;
    color: white;
    padding: 10px 40px;
    cursor:pointer;

}
.contenedorI-items .itemI .lineaI{
    width: 50px;
     height: 1px; 
     background-color: black; 
     border: none;
     margin: 0;
     margin-top: 10px;
}



/*


||||          ||||   ||||||||||     |||||||||||     ||||||||||||    ||||||||||||    ||||       ||||             
|||||||    |||||||  ||||    ||||    ||||    ||||        ||||            ||||        ||||||     ||||            
|||| |||||||| ||||  ||||    ||||    ||||    ||||        ||||            ||||        |||| ||    ||||            
||||   ||||   ||||  ||||    ||||    ||||||||||||        ||||            ||||        ||||  ||   ||||            
||||          ||||  ||||||||||||    ||||  ||||          ||||            ||||        ||||   ||  ||||        
||||          ||||  ||||    ||||    ||||   ||||         ||||            ||||        ||||    || ||||         
||||          ||||  ||||    ||||    ||||    ||||        ||||            ||||        ||||     ||||||          
||||          ||||  ||||    ||||    ||||     ||||       ||||        ||||||||||||    ||||      |||||  


*/







































/*
|||     ||| ||||||| ||||||  |||||||||   |||||||||   |||||||||
||||| ||||| |||     ||| |||    |||      |||   |||   |||
||| ||| ||| |||||   |||  ||    |||      |||||||||   |||  
|||     ||| |||     ||| |||    |||      |||   |||   |||
|||     ||| ||||||| ||||||  |||||||||   |||   |||   ||||||||
*/



@media screen and (max-width: 1024px) {
    #MainIndex{
        background-color: #fff;
    }
    .hamburguesa-btn {
        display: initial;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px; /* Espacio entre el botón de hamburguesa y el menú */
        right: 0;
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc; /* Borde del menú */
        border-radius: 5px;
    }

    .menu.open {
        display: block;
        flex-direction: column; /* Apilar elementos verticalmente */
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu a {
        display: block;
        padding: 10px 20px;
        color: grey;
        text-decoration: none;
    }

    #AcomodarHorizontales{
        display:table ;
        z-index: inherit;
    }

    #QuienesSomosSection {
        display: initial;
        background-color:#fff;
        height: 100%;
    }
    #custom-list li {
        padding-top: 30px;
        font-family: 'Avenir';
        color: rgb(85, 85, 85);
        background-color:#fff;
    }
    #IndexSeccionDosAcomodo{
        background-color: fff;
        display: initial;
    }
    #TuHogarMasInteligenteSection {
        margin-left: 0px;
        padding-top: 100px;
    }
    #IndexSeccionDosAcomodo Div{
        width: auto;    
        margin-left: 50px ;
    }
    #IndexSeccionDosAcomodo Div:nth-child(2){
        display: none;
    }

    #FooterDivTres{
        display:none;
    }
}
